PORT=4000
MONGODB_URI=
ICICI_MERCHANT_ID=
ICICI_AGGREGATOR_ID=
ICICI_SECRET_KEY=
ICICI_RETURN_URL=http://localhost:4000/api/payments/callback
FRONTEND_BASE_URL=https://www.meerasakhrani.in
ICICI_INITIATE_SALE_URL=https://pgpayuat.icicibank.com/tsp/pg/api/v2/initiateSale
ICICI_STATUS_URL=https://pgpayuat.icicibank.com/tsp/pg/api/command
